<footer>
  <div class="container" id="container123">
    <div class="card footer">
      <div class="section footer-top">
        <div class="footer-brand">
          <a routerLink="/" fragment="home" class="logo">
            <img
              src="assets/images/lukavukoviclogo-removebg-preview.png"
              width="119"
              height="37"
              loading="lazy"
              alt="LV logo"
            />
          </a>

          <p class="footer-text">
            There's no silver bullet solution with cyber security; a layered defense is the only viable
            defense." — James Scott
          </p>
        </div>

        <div class="footer-list">
          <p class="footer-list-title">Categories</p>

          <ul>
            <li><a class="footer-link hover-2">Cybersecurity</a></li>
            <li><a class="footer-link hover-2">AI</a></li>
            <li><a class="footer-link hover-2">Try hack me</a></li>
            <li><a class="footer-link hover-2">Hack the box</a></li>
            <li><a class="footer-link hover-2">PHP</a></li>
            <li><a class="footer-link hover-2">CTF</a></li>
          </ul>
        </div>

        <div class="footer-list">
          <p class="footer-list-title">Contact</p>

          <a href="mailto:luka.vukovic288@gmail.com" class="contact-link">luka.vukovic288@gmail.com</a>
        </div>
      </div>

      <div class="footer-bottom">
        <p class="copyright">
          &copy; Developed by
          <a href="https://www.linkedin.com/in/luka-vukovic-4417a6312/" class="copyright-link" target="_blank" rel="noopener">Luka Vukovic.</a>
        </p>

        <ul class="social-list">
          <li>
            <a href="https://www.linkedin.com/in/luka-vukovic-4417a6312/" class="social-link" target="_blank" rel="noopener">
              <ion-icon name="logo-twitter"></ion-icon>
              <span class="span">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/luka-vukovic-4417a6312/" class="social-link" target="_blank" rel="noopener">
              <ion-icon name="logo-linkedin"></ion-icon>
              <span class="span">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/luka-vukovic-4417a6312/" class="social-link" target="_blank" rel="noopener">
              <ion-icon name="logo-instagram"></ion-icon>
              <span class="span">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
